#home{
	background: $bg-color;
	width: 100%;
	display: table;
	#home-bg, .form{
		display: table-cell;
		margin: 0 auto;
		text-align: center;
		width: 48%;
    	padding: 1%;
    	vertical-align: middle;
    	height: calc(100vh - 2%);
	}
	.form{
		padding-left: 15%;
		.title h1{
			text-shadow: 2px 2px 5px;
		    color: $title-color;
		    font-size: 3em;
		}
		.sign-in-note{
			font-size: 0.7em;
			padding-top: 0.5em;
		}
	}
}
#home-bg img{
	height: calc(100vh - 4em);
}

.error-page{
	background: url('/assets/img/dashboard-bg.svg');
	background-repeat: no-repeat;
    background-size: cover;
}