@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

// variable
$bg-color: #e66e0c;
$primay-color: #FF923A;
$secondary-color: #FFDA70;
$title-color: #29230f;

// mixin
@mixin box-shadow($h-offset, $v-offset, $blur, $spread, $color){
	-o-box-shadow: $h-offset $v-offset $blur $spread $color;
	-moz-box-shadow: $h-offset $v-offset $blur $spread $color;
	-webkit-box-shadow: $h-offset $v-offset $blur $spread $color;
	box-shadow: $h-offset $v-offset $blur $spread $color;
}